.sidebar {
    margin: 0;
    width: 200px;
    background-color: #6b8fc3;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    bottom: 0;
  }
  div.content {
    margin-left: 200px;
    padding: 30px;
    height: 700px;
  }
/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contt{
    display: flex;
    color: white;
    font-size: 13px;
  }
img{
    width: 100%;
}
.simple-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  overflow: hidden;
  color: white;
}

/* Style for table header */
.simple-table th {
  background-color: black;
  padding: 8px;
  text-align: left;
}

/* Style for table rows */
.simple-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Alternate row background color */
.simple-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on table rows */
.simple-table tbody tr:hover {
  background-color: #ddd;
}
.con{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 1000;
  }